.bioCard{
    margin: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30em;
    border-style: solid;
    border-color: RGBA(255,255,255,0.1);
    padding: 2em;
    border-radius: 4px;
    width: 50em;
    display: flex;
    height: fit-content;
}

.bioImg{
    height: 20em;
    width: 15em;
}

.row1, .row2 {
    display: flex;
    width: 90em;
    flex-direction: row;
}
