

.cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.verticalCards{
    display: flex;
    justify-content: center;
}
.cardVerticalImg{
    height: 15em;
}
.card{
    padding: 4em 2em 0em 2em;
    margin-top: 2em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    width: 20em;
}
.border{
    border-style: solid;
    border-color: RGBA(255,255,255,0.1);
    border-radius: 10px;
}

.card:hover {
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    transform: scale(1.01); 
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3); 
}

.cardHorizontal {
    width: fit-content;
    max-width: 80em;
    display: flex;
    flex-direction: row;
    padding: 2em;
}

.cardHorizontalImg{
    height: 30em;
}

.cardHorizontalText {
    margin: 2em;
}