#root {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: rgb(27, 27, 27);
    overflow-x: hidden;
}
.topBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5em;
    margin-right: 5em;
}

.topBarOther{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.topBarElement{
    cursor: pointer;
}
.content {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-top: 10em;
}

.topBarElement{
    margin-left: 2em;
}

p {
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
}

.header1 {
    font-size: 8rem;
    font-weight: 700;
    margin: 0em;
}

.header2 {
    font-size: 5rem;
    font-weight: 700;
}

.header3 {
    font-size: 3rem;
    font-weight: 700;
}

.header4{
    font-size: 1.5rem;
    font-weight: 700;
}
.blue {
    color:rgb(0, 170, 255);
}
.lightBlue{
    color:rgb(159, 223, 255);
}
.topBarElement:hover {
    color: lightblue;
  }
  
.cursor{
    cursor: pointer;
}

.section {
    max-width: 80em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2em;
    margin-right: 2em;
}


.topYap{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.aboutContent{
    display: flex;
    justify-content: space-between;
    
}
.teamPhoto{
    width: 40em;
    margin-left: 2em;
}
.news{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.card {
    background-color: RGBA(255,255,255,0.2);
    padding: 2em;
    border-radius: 4px;
    margin-top: 2em;
    width: 50em;
    display: flex;
}
.verticalCards{
    display: flex;
    justify-content: center;
}
.cardVerticalImg{
    height: 15em;
}
.cardImg{
    background-color: RGBA(255,255,255,0.2);
    padding: 4em 2em 0em 2em;
    border-radius: 4px;
    margin-top: 2em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    width: 20em;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.yap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.award{
    width: 30em;
}