#root {
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    
}

#root.homePage {
    
    background-image: 
        url('./img/bg.PNG');
    background-size: 100% auto, 100% auto;
    background-repeat: no-repeat, no-repeat;
    background-position: top center; 
    background-attachment: scroll;
}

.bottomBitch{
    background-image:
        url('./img/lowBg.PNG');
    height: 10em;
    width: 100vw;
}

body {
    background-color: rgb(17, 29, 63); 
    overflow-x: hidden;
}

.topBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5em;
    margin-right: 5em;
}

.topBarOther{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.topBarElement{
    cursor: pointer;
    margin-left: 1em;
    margin-right: 1em;
}
.topBarElement:hover {
    transform: scale(1.03); 
    transition: transform 0.5s ease, box-shadow 0.3s ease;
  }
.content {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
    margin-right: 1.3em;
    margin-bottom: 5em;
}

p {
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
}

.header1 {
    font-size: 8rem;
    font-weight: 700;
    margin: 0em;
    text-align: center;
}

.header2 {
    font-size: 5rem;
    font-weight: 700;
    margin-top: 0em;
}

.header3 {
    font-size: 3rem;
    font-weight: 700;
}

.header4{
    font-size: 1.5rem;
    font-weight: 700;
}
.blue {
    color:rgb(0, 170, 255);
}
.lightBlue{
    color:rgb(159, 223, 255);
}
  
.cursor{
    cursor: pointer;
}

.section {
    max-width: 80em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 5em;
}


.topYap{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.aboutContent{
    display: flex;
    justify-content: space-between;
    
}
.about.section {
    padding: 2em;
}
.teamPhoto{
    width: 40em;
    margin-left: 2em;
    margin-right: 4em;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.yap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 5em;
    width: 100vw;
}
.award{
    width: 30em;
}

.roboforce {
    transition: transform 0.3s ease, opacity 0.3s ease; 
    animation: float 2s infinite ease-in-out;
}
@keyframes float {
    0%, 100% {
        transform: translateY(0); /* Start and end at the same position */
    }
    50% {
        transform: translateY(-2px); /* Move upward slightly */
    }
}

.brag {
    display: flex;
    justify-content: space-evenly;
}

.bragElement {
    margin: 1em;
}

.section.about:hover {
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    transform: scale(1.01); 
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3); 
}

.bold {
    font-weight: 800;
}